@model IEnumerable<NoticeBoard.Models.Campaign.CampaignModel>
@{
    ViewData["Title"] = "My Campaigns";
}

<div class="row" style="padding-bottom:10px">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="20%">Name</th>
                            <th width="70%">Description</th>
                            <th width="10%">Next Session</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var campaign in Model)
                        {
                        <tr>
                            <td><a asp-controller="Campaign" asp-action="Details" asp-route-campaignId="@campaign.CampaignId">@campaign.Name</a></td>
                            <td>@Html.Raw(campaign.Description?.Replace("\r\n", "<br/>"))</td>
                            @if (campaign.UserIsDM)
                            {
                            <td>Schedule</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>