@model NoticeBoard.Models.PlayerCharacters.PlayerCharacterModel

<div>
    <div class="row" style="padding-bottom:10px">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="col-12">Age</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Height</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Weight</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-4">
                            <div class="col-12">Eyes</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Skin</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                        <div class="col-4">
                            <div class="col-12">Hair</div>
                            <label class="col-12"><strong></strong></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="row">
                @*Character Appearance*@
                <div class="col-12" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body">

                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                Character Appearance
                            </div>
                        </div>
                    </div>
                </div>

                @*Character Backstory*@
                <div class="col-12" style="margin-bottom:10px">
                    <div class="card">
                        <div class="card-body">

                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                Character Backstory
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-lg-12">
            <div class="row">
                @*Traits*@
                <div class="col-12">
                    <div class="card" style="margin-bottom:10px">
                        <div class="card-body">
                            <div style="padding-bottom:10px">
                                <div class="card">
                                    <div class="card-body">
                                        There's nothing I love more than a good mystery
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            Personality Traits
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom:10px">
                                <div class="card">
                                    <div class="card-body">
                                        No Limits
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            Ideals
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom:10px">
                                <div class="card">
                                    <div class="card-body">
                                        Something
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            Bonds
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom:10px">
                                <div class="card">
                                    <div class="card-body">
                                        Something else
                                    </div>
                                    <div class="card-footer">
                                        <div class="text-center">
                                            Flaws
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Alies & Organisations*@
                <div class="col-12">
                    <div class="card" style="margin-bottom:10px">
                        <div class="card-body">
                            <div class="col-4 float-right">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="text-center">
                                            Harpers
                                        </div>
                                    </div>
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="text-center">
                                Allies & Organisations
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
